NODE_ENV=dev
PORT=3001

ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=password
FIREBASE_CONFIG='{"type": "service_account"}'

FIRESTORE_EMULATOR_HOST=localhost:8090
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIREBASE_STORAGE_EMULATOR_HOST=localhost:9199
EVENTARC_EMULATOR=localhost:5001