NODE_ENV=development
PORT=3000

FIREBASE_ADMIN_EMAIL=admin@mail.com
FIREBASE_ADMIN_PASSWORD=password
FIREBASE_CREDENTIALS='{"type": "service_account"}'

FIRESTORE_EMULATOR_HOST=localhost:8090
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIREBASE_STORAGE_EMULATOR_HOST=localhost:9199
EVENTARC_EMULATOR=localhost:5001