NODE_ENV=dev # dev, test, staging, production
PORT=3001

FRONTEND_WHITELIST=

ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=password

FIREBASE_CREDENTIALS=
FIRESTORE_EMULATOR_HOST=localhost:8090
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIREBASE_STORAGE_EMULATOR_HOST=localhost:9199
EVENTARC_EMULATOR=localhost:5001

DEBUG_FIRESTORE_QUERY_TIME_LOGGING=0