rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        // Trainings collection listener
        match /trainings/{trainingId} {
            allow read: if request.auth != null 
                && (request.auth.uid == resource.data.ownerId 
                    || request.auth.uid in resource.data.memberIds);

            // Training workloads subcollection
            match /training-workload/{workloadId} {
                allow read: if request.auth != null
                && (
                    // trainer
                    request.auth.uid == get(/databases/$(database)/documents/trainings/$(trainingId)).data.ownerId
                    // or member
                    || request.auth.uid in get(/databases/$(database)/documents/trainings/$(trainingId)).data.memberIds
                );
            }
        }
    }
}