.vbt-live-data-container {
    top: 100px;
    right: 10px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 25px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phase-times-container {
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 25px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Adjusting feedback messages container to be at the bottom center */
.feedback-messages-container {
    top: 50px;
    /* 20px margin from the bottom */
    left: 50%;
    /* Align center horizontally */
    transform: translateX(-50%);
    /* Adjust horizontally to truly center */
    padding: 20px;
    /* Slightly translucent background */
    color: white;
    background-color: rgba(255, 104, 89, 0.5);
    border-color: rgba(255, 104, 89, 1);

    border-radius: 5px;
    z-index: 10;
    /* Ensures this container is above video and canvas */
    font-size: 3em;
    /* Adjust font size as needed for visibility */
    text-align: center;
    /* Center the text within the container */
    max-width: 80%;
    /* Limit the width to avoid extreme stretching */
    word-wrap: break-word;
    /* Ensure long messages are wrapped */
}


/* Additional styles for interactive elements */
button,
select {
    cursor: pointer;
}

.vbt-plot-container {
    position: absolute;
    bottom: 50px;
    /* Add margin at the bottom */
    left: 10px;
    /* Dark background with transparency */
    z-index: 10;
    /* Keep if you need to ensure it's above other content */
    padding: 10px;
    /* Optional: Adds some space inside the container around the graph */
    box-sizing: border-box;
    /* Ensures padding does not add to the set width/height */
    border-radius: 10px;
    /* Adds rounded edges */
}


.toggle-button-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    /* Adjust the distance from the bottom as needed */
    /* transform: translateX(-50%); */
    z-index: 11;
    /* Ensure it's above other content */
}