NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_FACE_ENCODER_API_URL=http://127.0.0.1:8000

# Firebase Client
NEXT_PUBLIC_USE_FIREBASE_EMULATOR=true
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# EmailJS
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=

# Images
NEXT_PUBLIC_UNOPTIMIZE_IMAGES=1

# AI - general
NEXT_PUBLIC_AI_CONVERT_TO_METRIC_SCALE=0
NEXT_PUBLIC_AI_DISABLE_ERUDA=1
NEXT_PUBLIC_AI_DISABLE_FPS=1
NEXT_PUBLIC_POSE_MODEL=MEDIAPIPE # MEDIAPIPE, YOLO11
NEXT_PUBLIC_POSE_LANDMARKER_VERSION=full # lite, full, heavy
NEXT_PUBLIC_YOLO_SIZE=256 # 256, 640

# ---- AI - prescriptions ---
NEXT_PUBLIC_AI_CONSTANTS='{
"DISABLE_MODEL_RELOAD":1,
"DISABLE_TIGHT_VIDEO_CONSTRAINTS":1,
"IN_FRAME_VISIBILITY_THRESHOLD":0.5,
"STILLNESS_LOWER_THRESHOLD_M":0.02,
"STILLNESS_THRESHOLD_M":0.06,
"STILLNESS_Z_AXIS_PERCENTAGE_THRESHOLD":0.15,
"STILLNESS_THRESHOLD_WHILE_RECORDING_M":0.01,
"STILLNESS_DETECTION_WINDOW_DURING_RECORDING_S":1.5,
"FACING_CAMERA_VISIBILITY_THRESHOLD":0.5,
"STILLNESS_COUNTDOWN_DURATION_S":3,
"MIN_TIME_PASSED_TO_DETECT_STILLNESS_S":1,
"NOD_DETECTION_BUFFER_DURATION_S":1.5,
"Y_POS_HELPER_M":0.001335,
"HEAD_SHAKE_DETECTION_BUFFER_DURATION_S":1.5,
"HEAD_SHAKE_ANGLE_THRESHOLD_DEGREES":155,
"MIN_KEYPOINTS_FOR_JITTER_DETECTION":3,
"JITTER_DETECTION_WINDOW_S":0.5,
"TIME_BETWEEN_MODEL_RELOAD_S":10,
"KEYPOINT_BUFFER_DURATION_MS":1000,
"CLOSE_ENOUGH_TO_START_VALUE_RATIO":0.2,
"HIGH_FPS_THRESHOLD":17,
"MIN_FRAMES_FOR_EXTREMUM":4,
"MIN_TIME_FOR_EXTREMUM_S":0.2,
"PRE_WINDOW_FRAMES_REP_START":4,
"MAX_LOOKBACK_REP_START_S":1,
"KEEP_KEYPOINT_HISTORY_DURING_RECORDING_MS":8000,
"REP_START_END_VELOCITY_HIGH_FPS_M_PER_S":0.04,
"REP_START_END_VELOCITY_LOW_FPS_M_PER_S":0.02,
"REP_START_VELOCITY_SUSTAIN_S":0.3,
"REP_START_CONSECUTIVE_FRAMES_UNDER_VELOCITY_THRESHOLD_S":0.2,
"REP_START_JOINT_STILLNESS_VELOCITY_THRESHOLD_M_PER_S":0.01,
"REP_END_VELOCITY_M_PER_S":0.02,
"REP_END_LOOKBACK_S":0.25,
"TIME_AT_EXTREMUM_VELOCITY_THRESHOLD_M_PER_S":0.05,
"TIME_AT_EXTREMUM_VELOCITY_SUSTAIN_S":0.25,
"MIN_STILL_TIME_TO_STOP_DETECTION_S":2
}'